.App {
    font-size: 10pt;
    font-family: Verdana, Geneva, sans-serif;
    line-height: 1.2em;
}

h1 {
    text-align: center;
}

.news {
    background-color: #f6f6ef;
}

.header__news {
    background-color: #f60;
    padding: 2px;
}

.header__news h2 {
    font-size: 10pt;
    line-height: 1.2em;
    display: inline;
    font-weight: bold;
}

.header__news img {
    border:1px white solid;
    height: 18px;
    width: 18px;
    margin-right: 4px;
}

.news {
    padding: 10px;
}

.news-list {
    padding-left: 22px;
}

.news-item {
    padding-bottom: 5px;
}

.news-item__info {
    font-size: 7pt;
    color: #828282;
}